@if (invoiceForm) {
  <div class="container mt-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Invoice Details</h2>
      </div>
      <div class="card-body">
        <div class="mb-3 ">
          <label for="invoiceId"><strong>ID:</strong></label>
          <input type="text" class="form-control" id="invoiceId" [value]="invoiceForm.controls.id.value" disabled>
        </div>
        <div class="mb-3">
          <label for="invoiceName"><strong>Name:</strong></label>
          <input type="text" class="form-control" id="invoiceName" 
            [formControl]="invoiceForm.controls.name"
            [class.is-invalid]="invoiceForm.controls.name.invalid && invoiceForm.controls.name.touched">
        </div>
        <div class="mb-3">
          <label for="invoiceStatus"><strong>Status:</strong></label>
          <select class="form-select" id="invoiceStatus" 
            [formControl]="invoiceForm.controls.status"
            [class.is-invalid]="invoiceForm.controls.status.invalid && invoiceForm.controls.status.touched">
            <option value="Paid">Paid</option>
            <option value="Pending">Pending</option>
            <option value="Overdue">Overdue</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="invoiceAmount"><strong>Amount:</strong></label>
          <input type="number" class="form-control" id="invoiceAmount" 
            [formControl]="invoiceForm.controls.amount"
            [class.is-invalid]="invoiceForm.controls.amount.invalid && invoiceForm.controls.amount.touched">
        </div>
        <div class="mb-3">
          <label for="invoiceDateIssued"><strong>Date Issued:</strong></label>
          <input type="date" class="form-control" id="invoiceDateIssued" 
            [formControl]="invoiceForm.controls.dateIssued"
            [class.is-invalid]="invoiceForm.controls.dateIssued.invalid && invoiceForm.controls.dateIssued.touched">
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-secondary me-2" (click)="goBack()">Go Back</button>
        
        

        @if (!invoiceForm.value.id) {
          <button class="btn btn-success" (click)="createInvoice()" [disabled]="invoiceForm.invalid">Create New</button>
        } @else {

          <button class="btn btn-success me-2" (click)="updateInvoice()" [disabled]="invoiceForm.invalid">Save</button>
          @if (isLoading$ | async) {
          <span class="text-warning m-auto">
            <i class="bi bi-arrow-clockwise"></i>Updating...
          </span>
          } @else {
          <span class="text-success">
            <i class="bi bi-check-lg"></i>Auto save
          </span>
          }
        }
      </div>
    </div>
  </div>
}