<div class="vh-100 d-flex align-items-start">
  <div class="w-100 p-3">
    <h1 class="display-3">Invoice Management System</h1>
    <p class="lead">Create, update, and view invoices with this simple demo application.</p>
    <p>Technologies used: Angular 17, .NET 8, C#, <a href="https://dapr.io/" target="_blank">Dapr</a>, Entity Framework, MS SQL.</p>
    <a [routerLink]="['/' + States.about]" class="btn btn-primary mt-3 me-2">Read about</a>
    <a href="https://github.com/VenyaBrodetskiy/Customer-invoices-web-app" target="_blank" class="btn btn-warning mt-3 mx-1">GitHub</a>

    <h2 class="display-6 mt-3">My articles</h2>
    <p>Read my articles about related technologies and development strategies on Medium:</p>
    <ul>
      <li><a
          href="https://medium.com/@venya-brodetskiy/local-development-with-aws-lambda-and-nestjs-docker-debugging-and-hot-reload-e9c75fb0c6c4"
          target="_blank">Local Development with AWS Lambda and NestJS</a></li>
      <li><a href="https://medium.com/@venya-brodetskiy/aws-lambda-and-nestjs-communication-between-services-3ea026bc463a"
          target="_blank">AWS Lambda and NestJS: Communication between services</a></li>
    </ul>
  </div>
</div>