USE [master]
GO
/****** Object:  Database [invoices]    Script Date: 4/11/2024 9:18:30 PM ******/
CREATE DATABASE [invoices]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'invoices', FILENAME = N'/var/opt/mssql/data/invoices.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'invoices_log', FILENAME = N'/var/opt/mssql/data/invoices_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [invoices].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [invoices]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 4/11/2024 9:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[invoices] ON 

INSERT [dbo].[invoices] ([id], [name]) VALUES (1, N'test_name_1')
INSERT [dbo].[invoices] ([id], [name]) VALUES (2, N'test_name_2')
SET IDENTITY_INSERT [dbo].[invoices] OFF
GO
USE [master]
GO
