USE [master]
GO
/****** Object:  Database [invoices]    Script Date: 4/15/2024 11:40:26 PM ******/
CREATE DATABASE [invoices]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'invoices', FILENAME = N'/var/opt/mssql/data/invoices.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'invoices_log', FILENAME = N'/var/opt/mssql/data/invoices_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [invoices].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [invoices]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/15/2024 11:40:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 4/15/2024 11:40:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Amount] [int] NOT NULL,
	[DateIssued] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240415193028_ExtendInvoiceSchema', N'8.0.4')
GO
SET IDENTITY_INSERT [dbo].[invoices] ON 
GO
INSERT [dbo].[invoices] ([id], [name], [Status], [Amount], [DateIssued]) VALUES (1, N'ChatGPT', N'Paid', 80, CAST(N'2024-04-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[invoices] ([id], [name], [Status], [Amount], [DateIssued]) VALUES (2, N'Bituakh Leumi', N'Pending', 300, CAST(N'2024-04-15T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[invoices] ([id], [name], [Status], [Amount], [DateIssued]) VALUES (3, N'Hebrew Class', N'Pending', 1000, CAST(N'2024-04-10T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[invoices] OFF
GO
USE [master]
GO
